@model LibraryMVC.Application.ViewModels.Genre.GenreForListVm

@{
    ViewData["Title"] = "Dodaj gatunek";
}

<h1 class="fw-bold">Dodaj gatunek</h1>

<div class="container p-4 bg-light bg-opacity-75 rounded-3 shadow-lg border mt-3">
    <form asp-action="AddNewGenre">
        <div class="row mb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-12">
                <div class="form-group mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-grid gap-2 d-md-block">
                <a class="btn btn-primary" role="button" asp-action="AdminBookPanel">
                    <i class="fa-solid fa-arrow-left-long"></i> Wróć
                </a>
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-circle-plus"></i> Dodaj do bazy
                </button>
            </div>
        </div>
    </form>
</div>

