html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(166,179,225);
    background: linear-gradient(150deg, rgba(166,179,225,1) 45%, rgba(99,130,240,1) 100%);
}

.cursor-pointer {
    cursor: pointer;
}