@model IEnumerable<LibraryMVC.Application.ViewModels.IdentityUserRoles.IdentityUsersForListVm>

@{
    ViewData["Title"] = "Zmień uprawnienia";
}

<partial name="_Notification" />

<h1 class="fw-bold">Zmień uprawnienia użytkownika</h1>

<div class="container p-4 bg-light bg-opacity-75 rounded-3 shadow-lg border mt-3">
    <div class="row">
        <div class="col-auto m-5">
            <div class="form-group mb-3">
                <select class="selectpicker" id="userId" data-live-search="true" title="Wybierz użytkownika">
                    @foreach (var user in Model)
                    {
                        <option value="@user.Id">@user.UserName</option>
                    }
                </select>
            </div>
            <button class="btn btn-primary mt-3 w-100" id="showDetails">
                <i class="fa-regular fa-eye"></i> Pokaż uprawnienia
            </button>
        </div>
        <div class="col-sm-8" id="details">

        </div>
    </div>
</div>

@section Scripts {
    <script>
        
        $(document).ready(function(){
            $('#showDetails').on('click', function(){
                LoadDetails();
            });
        });

        $(document).on('click', '#changeRoles', function () {
            ChangeRoles();
        });

        function LoadDetails(){
            const userId = $('#userId').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("AddRolesToUser","UserRoles")',
                data: {id: userId},
                success: function (data) {
                    $('#details').html(data);
                }
            });
        };

        function ChangeRoles(){
            const userId = $('#userId').val();
            let selectedRoles = [];
            $('#roleCheckboxes input[type=checkbox]:checked').each(function () {
                selectedRoles.push($(this).val());
            });

            if (selectedRoles.length === 0) {
                alert("Nie wybrano żadnej roli. Wybierz przynajmniej jedną rolę przed zatwierdzeniem.");
                return;
            }

            if (confirm('Potwierdź chęć zmiany uprawnień użytkownika.')){
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddRolesToUser","UserRoles")',
                    traditional: true,
                    data: { id: userId, newRoles: selectedRoles },
                    success: function (result) {
                        location.reload();
                    },
                    error: function (jqXHR) {
                        alert(jqXHR.responseText);
                    }
                });
            }
        };

    </script>
}