@model IEnumerable<LibraryMVC.Application.ViewModels.IdentityUserRoles.IdentityUsersForListVm>

@{
    ViewData["Title"] = "Zmień uprawnienia";
}

<h1 class="fw-bold">Zmień uprawnienia użytkownika</h1>

<div class="container p-4 bg-light bg-opacity-75 rounded-3 shadow-lg border mt-3">
    <div class="row">
        <div class="col-auto m-5">
            <div class="form-group mb-3">
                <label class="mb-2">Użytkownicy</label> <br />
                <select class="selectpicker" id="userId" data-live-search="true" title="Wybierz użytkownika">
                    @foreach (var user in Model)
                    {
                        <option value="@user.Id">@user.UserName</option>
                    }
                </select>
            </div>
            <button class="btn btn-primary mt-3 w-100" id="showDetails">
                <i class="fa-regular fa-eye"></i> Pokaż uprawnienia
            </button>
        </div>
        <div class="col-auto" id="details">

        </div>
    </div>
</div>

@section Scripts {
    <script>
        
        $(document).ready(function(){
            $('#showDetails').on('click', function(){
                debugger;
                LoadDetails();
            });
        });

        function LoadDetails(){
            let userId = $('#userId').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("AddRolesToUser","UserRoles")',
                data: {id: userId},
                success: function (data) {
                    $('#details').html(data);
                }
            });
        };

    </script>
}