@{
    ViewData["Title"] = "Biblioteka";
}
<div class="container">
    <div class="row align-items-center" style="height:60vh;">
        <div class="col-sm-7 text-center text-white">
            <h1 class="display-1 fw-bolder">Witaj!</h1>
            <p class="fs-2">Zachęcamy do skorzystania z zasobów naszej biblioteki.</p>
            <a class="btn btn-success btn-lg" role="button" asp-area="" asp-controller="Book" asp-action="Index">
                <i class="fa-solid fa-magnifying-glass"></i>&nbsp Zobacz katalog</a>
        </div>

        <div class="col-sm-5 text-center">
            <img src="~/img/library.png" alt="library" class="img-fluid w-75" />
        </div>

    </div>
    
</div>


