<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/brands.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/solid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select-1.14.0/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryMVC.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm shadow border-bottom navbar-dark mb-4">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" alt="Logo" width="40" height="auto"/>
                    Biblioteka
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Rules">Jak korzystać</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Book" asp-action="Index">Katalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="BorrowingCart" asp-action="Index">Koszyk</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                                Profil
                            </a>
                            <ul class="dropdown-menu custom-dropdown-bg-color">
                                <li><a class="dropdown-item" asp-controller="Loan" asp-action="Index">Moje zamówienia</a></li>
                                <li><a class="dropdown-item" asp-controller="LibraryUser" asp-action="ViewLoggedUserDetails">Moje dane</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"> 
                                Bibliotekarz
                            </a>
                            <ul class="dropdown-menu custom-dropdown-bg-color">
                                <li><a class="dropdown-item" asp-controller="Loan" asp-action="ConfirmCheckOut">Potwierdź wydanie</a></li>
                                <li><a class="dropdown-item" asp-controller="Loan" asp-action="ConfirmReturnIndex">Potwierdź zwrot</a></li>
                                <li><a class="dropdown-item" asp-controller="Book" asp-action="AdminBookPanel">Zarządzaj książkami</a></li>
                                <li><a class="dropdown-item" asp-controller="LibraryUser" asp-action="Index">Zarządzaj użytkownikami</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"> 
                                Administrator
                            </a>
                            <ul class="dropdown-menu custom-dropdown-bg-color">
                                <li><a class="dropdown-item" asp-controller="Loan" asp-action="ChangeGlobalLoanSettings">Ustawienia</a></li>
                                <li><a class="dropdown-item" asp-controller="UserRoles" asp-action="Index">Zmień uprawnienia użytkownika</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted " style="background-color: #3756c1 ;">
        <div class="container">
            &copy; 2022 - AndPol <a asp-controller="Home" asp-action="Rules">Jak korzystać</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select-1.14.0/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
